body {
    background-image: url(avgg.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.box {

    background: linear-gradient(#0039b9, #b12323);
    width: 8cm;
    height: 13cm;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: rgba(32, 32, 34, 0.4) 0px 7px 29px 0px;
    transition: 2s;
}
.box .hero1{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 7.5cm;
    height: 9cm;
    border-radius: 6px;
    transition: 1.5s;
}

.box:hover {
    width: 10cm;
    height: 15cm;
}
.box:hover a{
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.box .foto {
    width: 4cm;
    height: 1.5cm;
    position: fixed;
    transform: translate(55%, -50%);
    transition: 1s;
    border-radius: 6px;
}
.box:hover .hero1{
    width: 9cm;
    height: 11cm;
}

/* .box .foto:hover {
    width: 6cm;
    height: 3cm;
} */
.box:hover .foto{
    position: absolute;
    left: 1cm;
    
}

.box a {
    color: rgb(0, 0, 0);
    position: relative;
    top: 12cm;
    left: 40%;
    background-color: white;
    border-radius: 4px;
    padding: 2%;
    opacity: 85%;
    text-decoration: none;
}

.rightbox {
    background: linear-gradient(#0039b9, #b12323);
    width: 8cm;
    height: 12cm;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(45%, -50%);
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
    z-index: -1;
    transition: 1.5s;
}

.rightbox:hover {
    width: 10cm;
    height: 15cm;

}

.rightbox:hover a {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rightbox .foto1 {
    width: 4cm;
    height: 1.5cm;
    position: absolute;
    transform: translate(55%, -50%);
    transition: 2s;
    border-radius: 6px;
}

.rightbox a {
    color: rgb(0, 0, 0);
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 85%;
    transition: 1.5s;
    background-color: white;
    border-radius: 4px;
    padding: 2%;
    text-decoration: none;
}

.leftbox {
    background: linear-gradient(#0039b9, #b12323);
    width: 8cm;
    height: 12cm;
    color: white;
    position: fixed;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-145%, -50%);
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
    z-index: -1;
    transition: 1s;
}

.leftbox:hover {
    width: 10cm;
    height: 15cm;
}

.leftbox a {
    color: rgb(0, 0, 0);
    position: relative;
    top: 11cm;
    left: 30%;
    opacity: 85%;
    text-decoration: none;
    transition: 1s;
    background-color: white;
    border-radius: 4px;
    padding: 2%;
}

.leftbox img {
    width: 4cm;
    height: 1.5cm;
    position: fixed;
    transform: translate(50%, -50%);
    transition: 2s;
}

.leftbox:hover a {
    position: relative;
    top: 13cm;
    left: 41%;
}

.leftbox:hover img {

    left: 10%;
}

.rightbox:hover .foto1 {
    left: 10%;
}

.rightbox .hero1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6.5cm;
    height: 8cm;
    transition: all 1s;
    border-radius: 8px;
    margin-bottom: 0px;
}

.rightbox:hover .hero1 {
    width: 7.5cm;
    height: 9cm;
    position: relative;
    left: 5cm;
}
.leftbox .foto2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 7cm;
    height: 7.5cm;
    transition: all 1s;
    border-radius: 8px;
    margin-bottom: 0px;
    border-radius: 6px;
}
.leftbox .leftfoto{
    border-radius: 6px;
}
.leftbox:hover .foto2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 9cm;
    height: 8cm;
}
.login{
    position: absolute;
    left: 95%;
    padding: 10px;
    color: white;
}