body{
    background-image: url(img/avgg.jpg);
}



.container{
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;

}

.field{
    width: 800px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


button{
    width: 30%;
    height: 30%;
    display: flex;
    font-size: 56px;
    justify-content: center;
    align-items: center;


}